/**** Hero-Section Styles ****/
section#home {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    min-height: 600px;
    /* background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center; */
}
/* section#home::before {
    content: '';
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
} */
/* .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
video.video-bg__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.home-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-text-wrapper {
    max-width: 553px;
}

h1.hom-title {
    font-size: 48px;
}

button.form-trigger-btn, button.form-trigger-btn-2 {
    background-color: var(--pry-color);
    color: black;
    font-family: var(--font-smbold);
    font-size: 16px;
    padding: 14px 32px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
button.form-trigger-btn-2 {
    background-color: transparent;
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
}

.section-label {
    font-size: 12px;
    padding: 8px 12px;
    width: fit-content;
    background: rgba(254, 192, 7, 0.8);
    color: white;
    border-radius: 6px;
    margin-bottom: 16px;
    margin: 0 auto;
    text-transform: uppercase;
}

.home-text-wrapper .section-label {
    margin: 0 0 16px;
    text-transform: none;
}
ul.checkmark-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
ul.checkmark-list li {
    font-size: 12px;
    font-family: var(--font-smbold);
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    border-radius: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    section#home {
        height: auto;
        padding-bottom: 50px;
    }
    .home-content-wrapper {
        grid-template-columns: 100%;
        margin: 40px 0 0;
        gap: 40px;
    }

    h1.hom-title {
        font-size: 40px;
    }
    button.form-trigger-btn, button.form-trigger-btn-2 {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .home-text-wrapper {
        max-width: 100%;
    }

    section#home .home-img-wrapper {
        display: block;
    }
    .button-group {
        flex-direction: column;
    }
    ul.checkmark-list {
        grid-template-columns: 100%
    }
}

/**** end of Hero-Section Styles ****/


/**** About-US-Section Styles ****/
section#about {
    position: relative;
    padding: 80px 0;
}
.about-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}
.about-content-wrapper.acw-2 {
    grid-template-columns: minmax(40%, 400px) 1fr;
}
h1.section-title {
    margin: 12px 0;
    font-size: 48px;
    font-family: var(--font-smbold);
    line-height: normal;
}
.section-desc {
    font-size: 22px;
}
.about-item-block {
    padding: 15px 0 20px;
}
/* .grid .about-item-block {
    border-top: 1px solid rgb(131, 134, 157, 0.5);
    border-bottom: 1px solid rgb(131, 134, 157, 0.5);
} */
 .about-text-side > .grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
 }
.about-item-title {
    font-size: 26px;
    font-family: var(--font-bold);
    letter-spacing: -1px;
    color: #83869D;
}
.about-item-title.pry-color {
    color: var(--pry-color);
    font-size: 32px;
}
.about-item-desc {
    font-size: 16px;
    margin-top: 12px;
}
ul.vlaues-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
ul.vlaues-list > li {
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #f5f5f5;
}
/* .about-img-side img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
} */

@media (max-width: 992px) {
    section#about {
        padding: 64px 0;
    }
    .about-content-wrapper {
        grid-template-columns: 100%;
        gap: 32px;
    }
}

@media (max-width: 600px) {
    .about-content-wrapper {
        display: grid;
        grid-template-columns: minmax(40%, 450px) 1fr;
        gap: 50px;
    }
    .about-text-side > .grid {
        grid-template-columns: 100%;
        gap: 20px;
     }
}
/**** nd of About-US-Section Styles ****/


/**** Testimonial-Section Styles ****/
section#testimonials {
    position: relative;
    padding: 50px 0;
}
section#testimonials::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: url(../images/wave-2.svg); */
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.testimony-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.testimonials-wrapper {
    /* margin: 30px auto 15px;
    width: 90%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px auto;
}
.testimony-block img {
    width: 80px;
    border-radius: 50%;
}
.testimony-block blockquote {
    border-left: 5px solid white;
    font-size: 20px;
    /* border-left: none; */
    /* padding: 15px; */
    margin-left: 30px;
}
.testimony-block blockquote div.testifier {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 15px;
}

@media(max-width: 992px) {}

@media(max-width: 600px) {
    .testimonials-wrapper {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .testimony-block {
        flex-direction: column;
        gap: 30px;
    }
    .testimony-block blockquote {
        margin: auto;
    }
}
/**** end of Testimonial-Section Styles ****/